<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="lcx.lcxpermission">

    <application>
        <activity
            android:launchMode="standard"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/permission_PermissionActivity"
            android:name=".PermissionActivity">
        </activity>
    </application>

</manifest>